<nav class="navbars">
  <ul class="bars">
  <li class="arrow-left">
    <%= link_to '<', root_path, class: "arrow-left" %>
  </li>
    <li>
      <p>Register</p>
    </li>
    <li>
      <p class="d-none">Next</p>
    </li>
  </ul>
</nav>

<div class="container">
 <div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "Full name", class: "nems" %>
    </div>
    <hr />
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "emms" %>
    </div>
    <hr />
    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password(6 characters)", class: "pass" %>
    </div>
    <hr />
    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password",  placeholder: "Confirm your password", class: "pass" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'aye' %>
    </div>
  <% end %>
  </div>
</div>
