<nav class="may">
  <ul class="june">
    <li>
      <p>Back</p>
    </li>
    <li>
      <h2 class="logs">LOGIN</h2>
    </li>
    <li>
      <i class="lll">Log in</i>
    </li>
  </ul>
</nav>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "emms" %>
  </div>
  <hr />
  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password(6 characters)", class: "pass" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me, class: 'none' %>
      <%= f.label :remember_me, class: 'none' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'aye' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
